<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>인스타 아이디 입력</title>
</head>

<body>

<main layout:fragment="main" className="flex-grow flex items-center justify-center">
    <script>
        function ConnectForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length === 0) {
                toastWarning('인스타그램 아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 3) {
                toastWarning('인스타그램 아이디를 3자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            const $checkedGenderRadioButton = $(form).find("[name=gender]:checked");

            if ($checkedGenderRadioButton.length === 0) {
                toastWarning('성별을 선택해주세요.');
                $(form).find("[name=gender]:first").focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div className="max-w-2xl w-full px-4">
        <h1 className="mb-4">
            <i className="fa-brands fa-instagram"></i>
            인스타아이디 입력
        </h1>

        <form className="flex flex-col gap-6" method="POST" th:action
              onSubmit="ConnectForm__submit(this); return false;">
            <div className="form-control">
                <label className="label">
                    <span className="label-text">
                        <i className="fa-brands fa-instagram"></i>
                        인스타 아이디
                    </span>
                </label>
                <a href="#" onClick="$(this).attr('href', $(this).text().replaceAll(' ', ''));" target="_blank"
                   className="block mb-3 text-sm break-all underline text-blue-400">
                    <span>https://instagram.com/</span><span className="text-red-300"></span>
                </a>
                <input type="text" name="username" placeholder="인스타 아이디" className="input input-bordered" autoFocus
                       onChange="$(this).keyup();"
                       onKeyUp="$(this).prev().children(':last-child').text(this.value.trim());"
                       onPaste="setTimeoutZero(() => $(this).keyup());"/>
                <script>
                    // input : 태그가 input 인 녀석 선택
                    // input[name="username"] 태그가 input 이고 name 속성의 값이 username 인 녀석을 선택
                    // input[name="username"]:last : 태그가 input 이고 name 속성의 값이 username 인 녀석들 중에서 꼴등 한명 선택
                    // .keyup(); : 강제로 keyup 이벤트 트리거(이벤트를 강제로 발동시킨다.)
                    $(`input[name="username"]:last`).keyup();
                </script>
            </div>

            <div className="form-control">
                <label className="label">
                    <span className="label-text">
                        <i className="fa-solid fa-person-half-dress"></i>
                        성별
                    </span>
                </label>

                <!-- 라벨을 클릭하면 라벨의 하위요소인 버튼(체크,라디오,일반 등)이 클릭되는 효과) -->
                <div className="flex justify-center gap-4">
                    <label className="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="gender" value="W" className="radio peer">
                        <span className="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                            <i className="fa-solid fa-person-dress"></i>
                            여성
                        </span>
                    </label>

                    <label className="flex gap-2 items-center cursor-pointer">
                        <input type="radio" name="gender" value="M" className="radio peer">
                        <span className="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                            <i className="fa-solid fa-person"></i>
                            남성
                        </span>
                    </label>
                </div>

            </div>

            <button id="btn-insta-member-connect-1" className="btn btn-block btn-primary gap-1">
                <i className="fa-brands fa-instagram"></i>
                <span>인스타 아이디 입력</span>
            </button>
        </form>
    </div>
</main>
</body>

</html>